@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


/**#ecc19c, #1e847f, #000000, #333333**/

/**palette couleur
361D32
543C52
F55951
EDD2CB
F1E8E6
*/

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
  }
  html {
    box-sizing: border-box;
  }

li, a{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;

    color: black;
    text-decoration: none;
}
nav{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    padding: 20px;
    z-index:1;
    

}

.logo{
    cursor: pointer;
    width: 6%;
    height:6%;
    object-fit:cover;
}
.nav__links{
    list-style: none;

}
.nav__links li{
    display:contents;
    position:relative;
    padding: 0px 20px;
    font-size: 14px;
}
.nav__links li a{
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover{
    color:#F55951;
}



.categoryEntrance{
    padding-top: 2%;

}

.container-horizontal-padding{

}
.row{
    padding-top:3%;
    text-align: center;

    background-color: #F1E8E6;
}

.headingRowCentered{

    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    color:#543C52;
    font-size: 50px;
    padding-bottom: 2%;

}
.pictureHome{
    object-fit:cover;
    width: 100%;
    outline: 2px solid white;
    outline-offset: -20px;
}
.pictureOfTheDay img{
    margin: auto;
    width: 60%;
    height: 50vw;
    object-fit:cover;
    outline: 2px solid white;
    outline-offset: -20px;
}


.pageHeader{
    padding: 2%;
    padding-top: 20%;
    text-align: center;
    height: 700px;
}
.textOnImageHome, .textOnImageHomeTitle{
    position: relative;
    color: white;

}

.textOnImageHomeTitle{
    bottom: 280px;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-style: italic;

}
.textOnImageHome{
    bottom: 100px;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
}


.ArrowDownAnimation {
    height: 100vh;
    position: relative;
    width: 100%;
    color: red;
    background-color: #1e847f;
    right: 50%;
  }
  
  .ArrowDownAnimation::before {
    animation: bounce 1s ease infinite;
    bottom: 7rem;
    color: #fff;
    content: '╲╱';
    font-size: 1rem;
    height: 2rem;
    left: 50%;
    letter-spacing: -1px;
    line-height: 12rem;
    margin-left: -3rem;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    width: 6rem;
  }


  .burger-wrapper {
    cursor: pointer;
  }
  #meny {
      background: #333;
      width: 10rem;
      height: 20rem;
      position: fixed;
      right: 0;
      transition-timing-function: cubic-bezier(10,2,3,1);
      transform: translateX(50rem);
      top: 0;
      z-index: 0;
      transition: 0.5s;
  }
  #menyAvPaa {
      display: none;
  }
  
  #menyAvPaa:checked ~ #meny {
      transform: translateX(0rem);
  }
  
  #burger {
      position: relative;
      cursor: pointer;
      width: 1rem;
      height: 1rem;
      right: 1rem;
      top: 0rem;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
  }
  
  #burger > div {
      height: 2px;
      background-color: #000;
      transition: 0.5s;
      z-index: 999;
  }
  
  #menyAvPaa:checked ~ #burger > div {
    background-color: #fff;
  }
  
  #menyAvPaa:checked ~ #burger > div:nth-child(1) {
      transform: translateY(7px) rotate(45deg);
  }
  #menyAvPaa:checked ~ #burger > div:nth-child(2) {
      opacity: 0;
  }
  #menyAvPaa:checked ~ #burger > div:nth-child(3) {
      transform: translateY(-7px) rotate(-45deg);
  }
  
  .homeLink{
      display: none;
  }

  
  @keyframes bounce {
    50% {
      transform: translateY(-50%);
    }
  }

  /*PC*/
  @media only screen and (min-width: 700px) {
    .pictureHome{height: 600px;}
    .textOnImageHomeTitle{
        font-size: 80px;
        bottom: 400px;
    }
    .textOnImageHome{
        font-size: 19px;
    }
    .pageHeader{padding-top: 6%;}
    .ArrowDownAnimation::before{
        font-size: 2rem;
        line-height: 4rem;
        height: 4rem;
    }
    .homeLink{
        display:inline-block;
    }
    .nav__links li{
        font-size: 16px;
        display:inline-block;
    }

    #burger {
        width: 2rem;
        height: 2rem;
    }

    #menyAvPaa:checked ~ #burger > div:nth-child(1) {
        transform: translateY(15px) rotate(45deg);
    }

    #menyAvPaa:checked ~ #burger > div:nth-child(3) {
        transform: translateY(-15px) rotate(-45deg);
    }


    /*FOR PHONE*/
  }
  @media only screen and (max-width: 500px) {
    .pictureHome{
        height: 600px;
        outline-offset: -30px;
    }
    .textOnImageHomeTitle{
        font-size: 70px;
        bottom: 400px;
    }
    .headingRowCentered{
    }
    
  }